
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btnPrimary {
    color: #242424;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    font-size: 20px;
  }
  
  .btnOutline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  
  .btnMedium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btnLarge {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btnPrimary:hover,
  .btnPrimary:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  