.container {
  min-height: 100vh;
  background-image: url(../public/bg.jpg);
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.397);
  background-size: cover;
  background-position: center;
  /* background-image:url('/public/bg.jpg');
    (#494945,
    #75726f); */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.button {
  background: #bbb8b8;
  border-radius: 5px;
  padding: 0.45rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.form {
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #b2c1f163;
  margin: 5rem 5rem 5rem 5rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: beige;
  text-decoration: none;
  border: 1px solid #8392c5;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  align-items: center;
}


.card h1 {
  margin: 3rem 1rem 4rem 2rem; /*top right bottom left*/
  font-size: 2.5rem;
  text-decoration:underline;
  color:#231f38be;
}
.card p {
  margin: 0 2rem 3rem 2rem;
  font-size: 1.0rem;
  line-height: 1.5;
  color: black;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #38454f;
  width: 100%;
  height: 100px;
  border-top: 1px solid #38545f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 1em;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #8392c5;
  /* color: #7986ad; */
}
